<html>
    <head>
    <title>Homework</title>
    </head>
    <body>
        <h3>Homework</h3>
        <%#- body %>
        <table>
            <tr>
                <td>
                </td>
            </tr>
        </table>
    </body>

</html>