<%# for i %>
<%for( let i = 0; i < data.length; i++) { %>
<!--
<%= data[i].id %>
<%= data[i].firstname %>
-->
<%= data[i].lastname %>
<%= data[i].salary %>
<%= data[i].role %><br>
<% } %>

<%# for each %>
<% data.forEach((user) => { %>
    <%- user.id+' '+user.firstname+' '+user.lastname+' '+user.salary+' '+user.role %><br> 
<% }) %>